In [2]:
### importing packages

import pandas as pd
import matplotlib as pyplot

In [3]:
## importing sdg database

database = pd.read_csv('base.csv')

C:\Users\leomf\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (1,8,9,10,11,14,17,18,19,20,21,22,23,24,25,26,27,28,29,31,32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
## inspecting database

database.head()

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,[Name of international institution],[Name of non-communicable disease],[Policy Domains],[Quantile],[Reporting Type],[Sex],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1990,35.9,1990,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
1,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1993,34,1993,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
2,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1996,29.4,1996,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
3,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1999,28.6,1999,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
4,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2002,25.5,2002,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN

In [5]:
###database

In [6]:
### checking missing data

import missingno as msno
msno.matrix(database)

In [7]:
database['TimePeriod'].min()

1974

In [8]:
database["Goal"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17],
      dtype=int64)

In [9]:
### Separating Database according to UNSDG goals
d = {}
for goal in database["Goal"].unique(): 
    d[goal] = database[database["Goal"] == goal]

In [10]:
d[1]

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,[Name of international institution],[Name of non-communicable disease],[Policy Domains],[Quantile],[Reporting Type],[Sex],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
0,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1990,35.9,1990,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
1,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1993,34,1993,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
2,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1996,29.4,1996,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
3,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,1999,28.6,1999,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
4,1,1.1,1.1.1,SI_POV_DAY1,Proportion of population below international p...,1,World,2002,25.5,2002,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55596,1,1.a,1.a.2,SD_XPD_ESED,Proportion of total government spending on ess...,894,Zambia,2000,8.35262,2000,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
55597,1,1.a,1.a.2,SD_XPD_ESED,Proportion of total government spending on ess...,894,Zambia,2004,10.58499,2004,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
55598,1,1.a,1.a.2,SD_XPD_ESED,Proportion of total government spending on ess...,894,Zambia,2005,7.72973,2005,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
55599,1,1.a,1.a.2,SD_XPD_ESED,Proportion of total government spending on ess...,894,Zambia,2007,6.22791,2007,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN
55600,1,1.a,1.a.2,SD_XPD_ESED,Proportion of total government spending on ess...,894,Zambia,2008,5.6518,2008,...,NaN,NaN,NaN,NaN,G,NaN,NaN,NaN,NaN,NaN

In [13]:
### Writing each development goal database to a different CSV

for key in range(1,17):
    d[key].to_csv("df" + str(key) + ".csv")

In [14]:
d[4]

,Goal,Target,Indicator,SeriesCode,SeriesDescription,GeoAreaCode,GeoAreaName,TimePeriod,Value,Time_Detail,...,[Name of international institution],[Name of non-communicable disease],[Policy Domains],[Quantile],[Reporting Type],[Sex],[Type of occupation],[Type of product],[Type of skill],[Type of speed]
269723,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,63,2013,...,NaN,NaN,NaN,NaN,G,BOTHSEX,NaN,NaN,SKILL_MATH,NaN
269724,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2013,55,2013,...,NaN,NaN,NaN,NaN,G,BOTHSEX,NaN,NaN,SKILL_READ,NaN
269725,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,46.5,2016,...,NaN,NaN,NaN,NaN,G,MALE,NaN,NaN,SKILL_READ,NaN
269726,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,47,2016,...,NaN,NaN,NaN,NaN,G,BOTHSEX,NaN,NaN,SKILL_READ,NaN
269727,4,4.1,4.1.1,SE_TOT_PRFL,Proportion of children and young people achiev...,4,Afghanistan,2016,47.5,2016,...,NaN,NaN,NaN,NaN,G,FEMALE,NaN,NaN,SKILL_READ,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317647,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,894,Zambia,2012,89.3717,2012,...,NaN,NaN,NaN,NaN,G,MALE,NaN,NaN,NaN,NaN
317648,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,894,Zambia,2012,92.6559,2012,...,NaN,NaN,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN
317649,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,894,Zambia,2017,100,2017,...,NaN,NaN,NaN,NaN,G,MALE,NaN,NaN,NaN,NaN
317650,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,894,Zambia,2017,98.7503,2017,...,NaN,NaN,NaN,NaN,G,BOTHSEX,NaN,NaN,NaN,NaN
317651,4,4.c,4.c.1,SE_TRA_GRDL,Proportion of teachers who have received at le...,894,Zambia,2017,97.5233,2017,...,NaN,NaN,NaN,NaN,G,FEMALE,NaN,NaN,NaN,NaN